* {
  margin: 0;
  padding: 0;

}

.App-Logo{
  height: 38px;
  width: 38px;
  padding: 8px 0 8px 0;
}
.container{
  background-color: #282c34;
}
.navbar {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: center;
  padding-left: 30px;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}
.nav-links{
  display: flex;
  align-items: right;
  list-style-type: none;
  cursor: pointer;
  padding-right: 30px;
}

li {
  position: relative;
}
.nav-links li a{
  color: pink;
  text-decoration: none;
}
.nav-links li a:hover{
  color: white;
}

li {
  margin:0 0 0 20px;   

}


li:hover::before {
  content: "[ ";
  animation: example;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  position: absolute;
  animation-fill-mode: forwards;
  color: white;
}

li:hover::after {
  content: " ]";
  animation: exampletwo;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  position: absolute;
  animation-fill-mode: forwards;
  color: white;
}

@keyframes example {
  0% {
    left: 10px;
    opacity: 0;
    transform: rotate(90deg);
  }

  100% {
    left: -10px;
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes exampletwo {
  from {
    right: 10px;
    opacity: 0;
    transform: rotate(-90deg);
  }

  to {
    right: -10px;
    opacity: 1;
    transform: rotate(0deg);
  }
}

.billboard{
  min-height: 100vh;
  background-color: tomato;  
  margin: 0 auto;
}

.billboard-container {

 
  display: flex;
  align-items: center;
 
 
  width: 960px;
  margin: 0 auto;
}