* {
  margin: 0;
  padding: 0;

}


:root {
  --primaryColor: #cb61a0;
  --secondaryColor: #78428d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGray: #282c34;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.App-Logo{
  height: 45px;
  width: 45px;
  padding: 8px 0 8px 0;
}
.nav-container-full-width{
  background-color: var(--mainGray);
  min-height: 5vh;
}
.navbar {
  background-color: var(--mainGray);
  
  display: flex;
  align-items: center;
  padding-left: 30px;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}
.nav-links {
  display: flex;
  align-items: right;
  list-style-type: none;
  cursor: pointer;
  padding-right: 30px;
}

.nav-links li {
  position: relative;
  margin:0 0 0 20px; 
}
.nav-links li a{
  color: var(--offWhite);
  text-decoration: none;
  
}
.nav-links li a:hover{
  color: var(--primaryColor);
}


li:hover::before {
  content: "[ ";
  animation: example;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  position: absolute;
  animation-fill-mode: forwards;
  color: var(--primaryColor);
}

li:hover::after {
  content: " ]";
  animation: exampletwo;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  position: absolute;
  animation-fill-mode: forwards;
  color: var(--primaryColor);
}

@keyframes example {
  0% {
    left: 10px;
    opacity: 0;
    transform: rotate(90deg);
  }

  100% {
    left: -10px;
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes exampletwo {
  from {
    right: 10px;
    opacity: 0;
    transform: rotate(-90deg);
  }

  to {
    right: -10px;
    opacity: 1;
    transform: rotate(0deg);
  }
}
/* Billboard*/
.billboard{
  min-height: 80vh;
  margin: 0 auto;
  background-image: url('./images/bg.jpg');
  background-position: 50% 50%; 
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.billboard-container {
  width: 960px;
  margin: 0 auto;
}

.center-content-vertically{
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-grid{
  color: #fff;
  max-width: 30%;
  padding-top: 80px;
}
.default-padding{
  padding: 0px;
}

.main-title{
  color: var(--mainBlack); 
  padding-top: 30px;
}
.main-text{
  color: var(--mainBlack);
  padding-top: 30px;
  max-width: 70%;
  text-align: center;
}
.center-content{
  display: flex;
  justify-content: center;
}

/* Boxes*/
.flex-container {
  padding: 0;
  margin: 80px;
  list-style: none;
  justify-content: center;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.shorthand { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.longhand { 
  -webkit-flex-flow: wrap row;
  flex-flow: wrap row;
  
}

.longhand li {
  background:transparent;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 300px;
  height: 100px;
  margin: 10px;
  
  line-height: 100px;
  color: var(--mainBlack);
  border: solid 1px red;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.jss365 {
  width: 61px;
  height: 61px;
}

.MuiSvgIcon-root {
  fill: red;
 
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}